
<div class="container border pt-0 p-3  my-3" id="invoice-content">
    <div class="d-flex flex-row">
      <!-- Left Section: Gray Box and Company Details -->
      <div class="col-md-4 mt-3">
        <div class="gray-box mb-3"></div>
      </div>
    
      <!-- Center Section: Ribbon with Tax Invoice -->
      <div class="col-md-4  text-center position-relative">
        <div class="ribbon">
          <span class="text-uppercase">Tax Invoice</span>
        </div>
        <p class="original-text">Original</p>
      </div>
    
      <!-- Right Section: Green Received Banner -->
      <div class="col-md-4 p-0 text-end">
        <div class="left">
          <h5 class="status">Received</h5>
        </div>
      </div>
    </div>
    <!-- Bottom Section: QR Code and Acknowledgment Details -->
    <div class="container my-4">
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="company-info">
            <strong class="fs-4 bluecolor">Mayan Industrial Solutions India Pvt Ltd.,</strong><br>
            No.35/2E, 2nd Floor, VM Complex, Co-Operative<br>
            Colony Road, Alwarpet, Chennai-600018, Tamilnadu<br />
            <strong>Ph:</strong> 04456-89897676 &nbsp; <strong>Mobile:</strong> 9848020901<br />
            <strong>Email:</strong> mayan&#64;gmail.com<br />
            <strong>Web:</strong> www.mayan.com<br />
            <strong class="bluecolor">GSTIN:</strong> 33ABCDD1234D1Z7
          </div>
    
    
        </div>
        <div class="col-md-6 d-flex flex-row  qrsection">
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=SampleData" alt="QR Code"
            class="qr-code" />
          <div class="ack-info">
            <strong class="bluecolor">IRN:</strong> <br>
            7388254648654543252436745437732980-dfuhi23897410872478eytryds8797346jwiahohjnas<br /><br>
            <strong class="bluecolor">Ack No:</strong> 8747298727314841<br />
            <strong class="bluecolor">Ack Date:</strong> 23 Mar 2024
          </div>
        </div>
      </div>
    </div>

    <!-- invoice number section -->
    <div class="container my-4">
      <div class="row mt-4 twincolormain  text-white rounded py-3 px-4">
        <!-- Left Section -->
        <div class="col-md-6 d-flex align-items-center ">
          <div class=" text-dark p-3 rounded w-100 twincolor">
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <p class="mb-1 fw-bold">Invoice No</p>
                <h5 class="mb-0">FB/2024/12001</h5>
              </div>
              <div class="border-start mx-3" style="height: 50px; "></div>
              <div>
                <p class="mb-1 fw-bold">Invoice Date</p>
                <h5 class="mb-0">24 Mar 2024</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Right Section -->
        <div class="col-md-3">
          <p class="mb-1"><strong>Order No :</strong> FB/2024/12001</p>
          <p class="mb-1"><strong>Order Date :</strong> 24 Mar 2024</p>
          <p class="mb-1"><strong>Delivery No :</strong> DC/2024/289</p>
          <p class="mb-1"><strong>Delivery Date :</strong> 24 Mar 2024</p>
          <p class="mb-1"><strong>Due Date :</strong> 24 Mar 2024</p>
        </div>
        <div class="col-md-3">
          <p class="mb-1"><strong>Transport :</strong> Road</p>
          <p class="mb-1"><strong>Vehicle No :</strong> TN-19-AB-8425</p>
          <p class="mb-1"><strong>e-Waybill No :</strong> 5655588688</p>
          <p class="mb-1"><strong>e-Waybill Date :</strong> 24 Mar 2024</p>
          <p class="mb-1"><strong>e-Waybill Time :</strong> 10:48 PM</p>
        </div>
      </div>
    </div>

      <!-- billto ship to section -->

      <div  >
        <div class="row ">
          <!-- Bill To Section -->
          <div class="col-md-6 ">
            <div class="card-custom">
              <div class="card-header-custom fs-5">Bill To</div>
              <div class="card-body pt-0">
                <p class="mb-1 fs-5"><strong>M/s. Mayan Industrial Solutions India Pvt Ltd.,</strong></p>
                <p class="text-m mb-1">No.35/2E, 2nd Floor, VM Complex, Co-Operative Colony Road, Alwarpet, Chennai-600018. Tamilnadu</p>
                <p class="text-m mb-1"><span class="highlight-text">Ph:</span> 04456-89897676 <span class="highlight-text">Mobile:</span> 9840820901</p>
                <p class="text-m mb-1"><span class="highlight-text">Email:</span> mayan&#64;gmail.com</p>
                <p class="text-m mb-1"><span class="highlight-text">GSTIN:</span ><span class="GSTIN">33ABCDD1234D1Z7</span> </p>
                <p class="text-m mb-1"><span class="highlight-text">Branch:</span> Thiruvananthapuram</p>
                <p class="text-m"><span class="highlight-text">Place of Supply:</span> Tamilnadu</p>
              </div>
            </div>
          </div>
          <!-- Ship To Section -->
          <div class="col-md-6 p-r-0 ">
            <div class="card-custom">
              <div class="card-header-custom fs-5">Ship To</div>
              <div class="card-body pt-0">
                <p class="mb-1 fs-5"><strong>M/s. Mayan Industrial Solutions India Pvt Ltd.,</strong></p>
                <p class="text-m mb-1">No.35/2E, 2nd Floor, VM Complex, Co-Operative Colony Road, Alwarpet, Chennai-600018. Tamilnadu</p>
                <p class="text-m mb-1"><span class="highlight-text">Ph:</span> 04456-89897676 <span class="highlight-text">Mobile:</span> 9840820901</p>
                <p class="text-m mb-1"><span class="highlight-text">Email:</span> mayan&#64;gmail.com</p>
                <p class="text-m mb-1"><span class="highlight-text">GSTIN:</span> <span class="GSTIN">33ABCDD1234D1Z7</span> </p>
                <p class="text-m mb-1"><span class="highlight-text">Branch:</span> Thiruvananthapuram</p>
                <p class="text-m"><span class="highlight-text">Place of Supply:</span> Tamilnadu</p>
              </div>
            </div>
          </div>
        </div>
      </div>

<app-taxable></app-taxable>
<app-taxsummery></app-taxsummery>

<!-- last container -->
<div class="row mt-4">
  <!-- Bank Details -->
  <div class="col-md-4">
    <div class="border border-secondary p-3 bank-details">
      <h6>Bank Details</h6>
      
      <p><span class="label">Bank</span> : <span>State Bank of India</span></p>
      <p><span class="label">A/c Name</span> : <span>Maayon Industrial Solutions Pvt Ltd.</span></p>
      <p><span class="label">A/c No</span> : <span>40420641110</span></p>
      <p><span class="label">A/c Type</span> : <span>Current Account</span></p>
      <p><span class="label">IFSC</span> : <span>SBIN0000870</span></p>
      <p><span class="label">Branch</span> : <span>Madurantakam</span></p>
  
    </div>
  </div>

  <!-- Terms & Conditions -->
  <div class="col-md-4">
    <div class="border border-secondary p-3 terms-conditions">
      <h6>Terms & Conditions</h6>
      <p>Goods sold cannot be returned or exchanged.</p>
      <p>Seller holds no responsibility for damages after delivery.</p>
      <p>Any warranties provided are as per manufacturer guidelines.</p>
      <p>Payment should be made before or on due date.</p>
    </div>
  </div>

  <!-- In Words and Signature -->
  <div class="col-md-4">
    <div class="in-words">
      <p><strong class="words">In words:</strong> <strong class="Fourteen">Fourteen Crore Seventy Nine Lakh Sixty Five Thousand Four Hundred Twelve Paise One only</strong> </p>
    </div>
    <div class="signature-box border border-secondary text-center mt-3">
     
      <img src="signature-placeholder.png" alt="Signature" class="signature-img" />
       
      <p style="margin-bottom: 10px; margin-top: 30px; padding-right: 10px; font-size: 14px; font-style: normal;">Authorised Signatory</p>
    

    </div>
  </div>
</div>


<div style="text-align: center;  background-color: #0074a2; margin-top: 20px; font-size: 12px; color:white; font-weight: bold; padding: 10px;" class="bottomcontainer">
  www.flasehbooks.com
</div>

<div class="mt-4 text-center">
  <button class="btn btn-primary me-3" (click)="printInvoice()">Print</button>
  <button class="btn btn-success" (click)="downloadInvoice()">Download as PDF</button>
</div>
</div>


 <!-- actions -->
      <!-- <div class="actions">
        <button (click)="printInvoice()">Print Invoice</button>
        <button (click)="downloadInvoice()">Download PDF</button>
    </div> -->